<!-- background -->
<div class="coverimg h-100 w-100 top-0 start-0 position-absolute" style="background-image: url('https://all-files-rlsigv.s3.us-east-1.amazonaws.com/fondo-proximamente.jpg');">
    <img src="https://all-files-rlsigv.s3.us-east-1.amazonaws.com/fondo-proximamente.jpg" alt="" class="d-none" />
</div>
<!-- background ends  -->

<!-- Begin page content -->
<main class="main mainheight position-relative container-fluid rounded-0 vh-100" #mainContainer>
    <router-outlet class="h-100"></router-outlet>
</main>